.App {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.test {
  border: 1px solid black;
}
.garage {
  margin: 50px 0;
  height: 50px;
  border: 1px solid grey;
}

.field {
  border-radius: 3px;
  border: 1px solid gray;
  /* height: 200px; */
}

.item {
  padding: 3px 5px;
  width: 100%;
  border: none;
}

.item:hover {
  font-weight: 500;
}

.element {
  border: 1px solid grey;
  padding: 5px 10px;
  margin: 4px;
}

.prop {
  margin-right: 7px;
}

.prop:hover {
  font-weight: 500;
}